$primary-light: #450b5b;
$primary-dark: #0fa3b1;


$secondary-light: #5f506b;
$secondary-light: #13293d;


$thirty-light: #6a6b83;
$thirty-light: #006494;


$quarter-light: #76949f;
$quarter-light: #e8f1f2;
