@import "_colors.scss";

.modal{
  position: absolute;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background-color: $quarter-light;
  transition: 0.2s linear all;

  a{
    color: #000;
    text-shadow: 0px 0px 1px #fff;
    &:hover{
      color: #fff;
      text-shadow: 0px 0px 1px #000;
      text-decoration: underline;
    }
  }

  &.modal__off{
    opacity: 0;
    width: 0%;
    height: 0%;
    // display: none;
  }

  .modal-header{
    margin-bottom: 25px;
    padding: 25px 0px 10px 0px;
    background-color: $thirty-light;
  }
  .modal-header .modal-header-title{
    text-align: center;
  }
  .modal-header .modal-close{
    background-color: transparent;
    border: 0px solid white;
    position: fixed;
    top: 10px;
    right: 20px;
    content: "X";
    color: white;
    font-size: 25px;
    font-weight: bolder;
  }


  .modal-content{
    width: 100%;
    height: 100%;
    margin: auto;
    overflow-x: hidden;
    overflow-y: overlay;
    text-align: center;
  }

  .modal-content__card{
    width: 30%;
    height: 25rem;
    overflow: overlay;
    display: inline-block;
    margin: 4px;//0 4px;
    background-color: #006493;
    padding: 11px 6px;
    border-radius: 4px;

    &__off{
      display: none;
    }
  }
  .modal-content__card--expand{
    width: 100%;
    height: 100%;
  }

  .modal-content.modal-content__list{
    max-height: 200px;
    height: 150px;
  }

  .modal-content .modal-title{
    width: 100%;
    min-height: 26px;
    text-align: center;
    color: $secondary-light;
  }
  .modal-content .modal-content-title{
    cursor: pointer;
  }

  .modal-content .modal-content-images{
    max-width: 100%;
    width: 100%;
    max-height: 340px;
    margin: 0 2px;
    img{
      width: 30%;
      display: inline-block;
    }
  }

  .modal-content .modal-content-body{
    width: 80%;
    margin: auto;
  }

  .modal-content .modal-paragraph{
    width: 80%;
    margin: auto;
    text-align: justify;
    color: $secondary-light;
  }
}
