@import './base.css';

#app {
  /* max-width: 2560px; */
  width: 100vw;
  padding: 0;
  margin: 0;
  margin: 0 auto;

  font-weight: normal;
}

a,
a::after {
    cursor: pointer;

    text-decoration: none;
    transition: 0.4s;

    color: var(--jt-anchor-color-normal);

    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: var(--jt-anchor-color-normal);
}

a:hover {
    color: var(--jt-anchor-color-hover);
    border-bottom-color: var(--jt-anchor-color-hover);
    border-bottom-style: dashed;
}

a:visited,
a:active {
    color: var(--jt-anchor-color-visited);
    border-bottom-style: solid;
    border-bottom-color: var(--jt-anchor-color-visited);
}
